
.image-placeholder-large {
    width: 100%;
    height: 400px;
    background-color: red;
}

.product-image-large {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.no-image-available-large {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header {
    background-color: black;
    color: white;
}
 
.details-title {
    font-size: 1em;
}

.comments-section {
    margin: 0 auto;
    padding: 2rem;
    background-color: lightgray;
}

